<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">
                    <%= title %>
                </a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="../help/">Help</a>
                    </li>
                    <li>
                        <a href="http://news.bootswatch.com">FAQ</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://builtwithbootstrap.com/" target="_blank">About</a></li>
                    <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">Join IEEE</a></li>
                </ul>

            </div>
        </div>
    </div>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">

    <div class="container text-center" style="padding-top:60px;">
        <h1>
            <%= title %>
        </h1>
        <p>Powered by IEEE Student Branch Osijek</p>
        <br>


        <h4>Ova web aplikacije je automator ferit rasporeda sati, svakog četvrtka server se pali te svim prijavljenim studentima
            unosi raspored u google calendar</h1>
            <h4> Za više informacija pročitajte <a href="/faq"> FAQ</a>
                <br>
                <br>

                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <form action="/authorized" method="post">
                            <label>Ime:</label>
                            <input class="form-control" type="text" name="firstname">

                            <label>Prezime:</label>
                            <input class="form-control" type="text" name="prezime">
                            
                            <label>Odaberite Smjer</label>
                            <select class="form-control" name="programme">
                                <% Object.keys(smjer).forEach(key => { %>

                                <option value="<%= smjer[key] %>"><%= key %></option>

                                <% });  %>
                            </select>

                            <label>Odaberite Godinu</label>
                            <select class="form-control" name="studentYear">
                                    <option value="1">1. Godina</option>
                                    <option value="2">2. Godina</option>
                                    <option value="3">3. Godina</option>
                            </select>

                            <input name="code" type="hidden" value="<%=code %>"> <br><br><br>
                            <button class="btn btn-primary" type="submit">I ja želim automatizirani raspored!</button>

                        </form>
                    </div>
                </div>


                <br><br><br>
                <img src="/images/ieee-sb-osijek.jpg">

    </div>
</body>

</html>