<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <% include partials/navbar.ejs %>
    

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/flatly.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
    <div class="container text-center" style="padding-top:60px;">
        <h1>
            <%= title %>
        </h1>
        <p>Powered by IEEE Student Branch Osijek</p>
        <br>
        <h4>Ova web aplikacija je automator ferit rasporeda sati, svakog četvrtka server se pali te svim prijavljenim studentima
            unosi raspored u google calendar</h1>
            <h4> Za više informacija pročitajte <a href="/faq"> FAQ</a>
                <h4> Trenutni broj korisnika: <%=count%></h4>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a class="btn btn-primary lagani-link" href="<%=authURL %>"> Želim koristiti <%=title %></a>


                <br><br><br>
                <img class="img img-responsive" style="margin:auto" src="/images/ieee-sb-osijek.jpg">
                
    </div>
</body>

</html>
